<%- include ('partials/_header'); %>

<!-- FORM -->
<div class="container">
    <div class="row">
        <h1 class="text-center">Editar</h1>

        <a href="/db/delete/<%= exp._id %>" class="edit-btn" style="color: red;">Borrar</a>

        <div class=container>
            <div class="container">
                <div class="container">
                    <form action="/edit/<%= exp._id %>" method="POST">
                        <div>
                            <input type="text" name="concepto" placeholder="Concepto" value="<%= exp.text %>">
                        </div>
                        <div>
                            <input type="number" name="amount"  placeholder="Cantidad" value="<%= exp.amount %>">
                        </div>
                        
                            <a href="/bd" class="btn">Cancel</a>
                            <button type="submit" class="btn">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ('partials/_footer'); %>